@import url('https://fonts.googleapis.com/css?family=Krona+One');
*{
  margin:0px;
  padding:0px;
}
img{
  width:100%;
  
}

.description{
  margin-right: 10%;
}

html, body {
  background-color:ebebeb;
  max-width:100%;
  min-width:1000px;
}
#container{
  height:100%;
  width:100%;
}

.img-responsive{
  width:50%;
}
.Portfolio{
  width:50%;
  margin-bottom:10px;
}
#myParagraph{
  margin-left:25%;
  margin-top:40px;
}
p {
  color:black;
  font-family:Krona One;
}
#about{
  font-size:40px;
  margin-left:5%;
    color:#c9635c;
   padding-bottom: 30px;
}
#Name {
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 3s steps(60, end);
  font-size:30px;
  margin-top:10px;
  margin-left:5%;
}

#cursor {
  animation: blinking 1s infinite;
}
.nameColor {
  color:#c9635c;
}

@keyframes type {
  from {width:0;}
  to {width:30;}
}

@keyframes blinking {
  to {opacity:.0;}
}
.verticalHR {
  width:1px;
  background-color:black;
  height:500px;
}
.content{
  width:40%;
  float: left;
}
#vertical{
  width:20%;
  float:left;
}
#stick{
  height:50px;
  margin-right: 20%;
}
.stickText{
  margin-right:20%;
}
#summary{
  margin-left:20%;
  font-size:30px;
}

.images{
  width:60%;
  margin-bottom:10px;
  -webkit-transition: width .5s;
  transition: border 1s;
  transition: width 1s;
}
.images:hover{
  width:65%;
}
#indent {
  margin-left:20%;
}
.description {
  margin-right:20px;
}
.icon {
  width:25%;
  float:left;
}
.icona{
  width:25%;
  float:right;
}
.fa{
  -webkit-transition: color .2s;
    transition: color .2s;
  color:white;
}
.x:hover{
  color:#c9635c;
}

a {
  text-decoration:none !important;
  color:black;
}

.navOption{
  display:inline;
  margin: 0px 20px 0px 20px;
  font-size:15px;
}
.contactSection{
  background-color:black;
  margin-top:100px;
}
.icon p,.icona p {
  color:white;
}
#contactMe{
 color:white;
 font-size:40px;
 margin-left:5%;
 padding-bottom: 30px;
 padding-top:10px;
 
}
.navClick p{
  -webkit-transition:color .3s;
  transition: color .3s;
}
.navClick p:hover{
  color:#c9635c;
}